<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180699850792-7b7o96396gl5hfg558c1h1n30ee46f7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180699850792-7b7o96396gl5hfg558c1h1n30ee46f7e</string>
	<key>API_KEY</key>
	<string>AIzaSyCmAGsUTaIYgHrfG8AnRSP7pQiGPzQPntQ</string>
	<key>GCM_SENDER_ID</key>
	<string>180699850792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.backseat.backseat</string>
	<key>PROJECT_ID</key>
	<string>backseat-6b64e</string>
	<key>STORAGE_BUCKET</key>
	<string>backseat-6b64e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180699850792:ios:47b8448dd0863518d1ed1d</string>
	<key>DATABASE_URL</key>
	<string>https://backseat-6b64e.firebaseio.com</string>
</dict>
</plist>